@import 'tailwindcss';
@config "../../tailwind.config.js";
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Handle autofill background override */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 9999s ease-in-out 0s;
}
/* Handle base color background override*/
@media (prefers-color-scheme: dark) {
    :root {
        --color-base-100: #171717;
        --color-base-200: #171717;
        --color-base-300: #171717;
    }
}

/* Reset styles for ReactMarkdown content */
.chat-message-content > blockquote,
.chat-message-content > dl,
.chat-message-content > dd,
.chat-message-content > h1,
.chat-message-content > h2,
.chat-message-content > h3,
.chat-message-content > h4,
.chat-message-content > h5,
.chat-message-content > h6,
.chat-message-content > hr,
.chat-message-content > figure,
.chat-message-content > p,
.chat-message-content > pre {
    margin-top : 0;
    margin-bottom: 5px;
}
.chat-message-content > ul,
.chat-message-content > ol {
    list-style: revert;
    margin: revert;
    padding: revert;
}
.chat-message-content > table {
    border-collapse: revert;
}
.chat-message-content > h1,
.chat-message-content > h2,
.chat-message-content > h3,
.chat-message-content > h4,
.chat-message-content > h5,
.chat-message-content > h6 {
    font-size : revert;
    font-weight : revert;
}
.chat-message-content > a {
    text-decoration: underline;
    color: #4a5568;
}
.chat-message-content > :first-child {
    margin-top: 0;
}
.chat-message-content > :last-child {
    margin-bottom: 0;
}
.chat-message-content > blockquote {
    border-left: 5px solid darkgray;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.chat-message-content code {
    font-family: "Courier New", monospace;
    font-style: italic;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 90%;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
}
.chat-message-content pre {
    padding: 1.5rem;
    overflow-x: auto;
    font-style: italic;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
}
.chat-message-content pre code {
    background: transparent;
}
